/* 公共样式表css */
html,
body {
    color: #333;
    margin: 0;
    height: 100%;
    font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a,
label,
button,
input,
select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    border: 0;
}

body {
    background: #f4f4f4;
    color: #666;
}

html,
body,
div,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
button,
fieldset,
form,
input,
legend,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #08acee;
}

button {
    outline: 0;
}

img {
    border: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

li {
    list-style: none;
}

a {
    color: #666;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/* 整体页面样式 */
.aui-flexxView {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    /*CSS3中的弹性布局*/
    display: flex;
    /*从上向下垂直排列子元素。*/
    -webkit-box-orient: vertical;
    /* box-direction 属性规定框元素的子元素以什么方向来排列。/normal以默认方向显示子元素。 */
    -webkit-box-direction: normal;
    /* column： 主轴与块轴方向作为默认的书写模式。即纵向从上往下排列（顶对齐）。 */
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* 主体 */
.aui-scrollView {
    width: 100%;
    height: 100%;
    /* box-flex 属性规定框的子元素是否可伸缩其尺寸。 */
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /*overflow-y 剪 div 元素中内容的左/右边缘 - 如果溢出元素的内容区域的话 */
    overflow-y: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: -1px;
}

/* 轮播图外框 包括图片和圆点 */
.m-slider {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

/* 轮播图，包括所有图片的盒子 */
.slider-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

/* 轮播图单个图片 */
.slider-item {
    width: 100%;
    height: 100%;
    /* shrink计算溢出量 */
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.slider-item img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}

/* 圆点 */
.slider-pagination {
    position: absolute;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0.3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-fllexbox;
    display: flex;
    -webkit-box-aligin: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider-pagination>.slider-pagination-item {
    margin: 0 .2rem;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50px;
    background-color: #b0b0b0;
}

.slider-pagination>.slider-pagination-item.slider-pagination-item-active {
    background-color: #010101;
}