.hy-contain {
    /* display: flex;
    flex-direction: column; */
    position: relative;
}

.hy-grad {
    width: 100%;
    z-index: 1;
    height: 150px;
    background: #ffffff;
}

.hy-text {
    padding: 35px 15px 15px 15px;
    font-size: 0.9rem;
    color: #353535;
}

.box {
    position: relative;
    text-align: center;
}


.box ul {
    position: relative;
    width: 100%;
    /* top: 20px; */
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box li {
    margin: 0 15px;
    width: 20%;
    /* background: #f4f4f4; */
}

.box ul li .bg {
    border-color: #009999;
}

.box ul li .bg2 {
    background-color: #009999;
    /* border: none; */
    border: 1px solid #009999;
    color: #ffffff;
}

.box li .for-active {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    padding: 4px 2px;
    /* margin: 3px 12px; */
    border: 1px solid #999999;
    border-radius: 20px;
}

.box li span {
    background: #f4f4f4;
}

.box ul li p {
    font-size: 0.9rem;
    color: #999999;
}

.line {
    width: 80%;
    height: 1px;
    margin: 0px 10%;
    z-index: 8;
    position: absolute;
    top: 12px;
    background: #999999;
}

.line2 {
    width: 60%;
    z-index: 9;
    height: 1px;
    margin: 0px 10%;
    position: absolute;
    top: 12px;
    background: red;

}



/* 会员特权 */
.hy-privilege {
    position: relative;
    top: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0px 7px;
}

.hy-privilege a {
    display: block;
    width: 33.3%;
}

.hy-privilege .hy-privilege-list {
    text-align: center;
    margin: 7px;
    background-color: #ffffff;
    padding: 10px 0px 10px 0px;
    border: 1px solid #e5e5e5;
}

.hy-privilege .hy-privilege-list .img-1 {
    width: 65px;
    height: 65px;
    margin: auto;
    padding-bottom: 13px;
}

.hy-privilege .hy-privilege-list .img-1 img {
    width: 100%;
    border: none;
}

.hy-privilege .hy-privilege-list span {
    font-size: 0.8rem;
    color: #353535;
}