/* 我的酒水 */
#tab {
    width: 100%;
    /* height: 300px; */
    overflow: hidden;
    background-color: #f4f4f4;
    /* border: 1px solid red; */
}

.tab-nav {
    width: 100%;
    position: relative;
    height: 27px;
    /* margin-bottom: 30px; */
}

.tab-nav ul {
    position: absolute;
    width: 100%;
    left: -1px;
    margin-bottom: 30px;
    background-color: #ffffff;
    /* border-bottom: 1px solid #efefef; */

}

.tab-nav ul {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;

}

.tab-nav li {
    float: left;
    flex-grow: 1;
    padding: 10px 0;
    text-align: center;
    border-right: 1px solid #efefef;
}

.tab-nav li:last-child {
    border-right: none;
}

.tab-nav li a {
    color: #000000;
}

.active {
    background-color: #eaeaea;
    border-right: none;
}

/* 我的寄存 */
#tab-contain {
    padding: 10px;
    /* border: 1px solid blueviolet; */
}

.mod {
    display: flex;
    flex-direction: column;
}

/* 房台号 */
.mod p {
    margin-bottom: 9px;
    color: #00091f;
}

.tab-text {
    position: relative;
    width: 100%;
    /* height: 120px; */
    padding: 17px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    font-size: 15px;
}

.tab-text p {
    color: #000000;
}

.tab-text p span {
    color: #9b9d92;
}

.tab-text .tab-text-right {
    position: absolute;
    right: 18px;
    top: 17px;
}

/* 会员码 */
#tab-contain .tab-member {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #e7e7e7;
}

#tab-contain .tab-member2 {
    margin-top: 50px;
}

#tab-contain .tab-member-title {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 14px;
    color: #00091f;
    background-color: #dfdfdf;
}



#tab-contain .tab-member-title span {
    font-size: 14px;
    color: #9b9d92;
}

#tab-contain .tab-member-title span i {
    color: #559a5b;
}

.tab-member-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    padding: 30px 15px;
}

.tab-member-contain div:first-child {
    padding-bottom: 25px;
}


/* 我的酒卡样式 */

.tab-text2 {
    position: relative;
    width: 100%;
    /* height: 120px; */
    padding: 23px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    font-size: 15px;
}

.tab-text2 .tab-text-right2 {
    text-align: center;
    color: #999999;
}

.tab-text-left {
    color: black;
}

.tab-text-left p {
    margin-bottom: 25px;
}

.tab-text2 .tab-text-right2 p {
    font-size: 0.9rem;
    margin-right: -8px;
    margin-bottom: 25px;
    text-align: right;
    color: #999999;
}

.tab-text2 .tab-text-right2 span {
    display: block;

    padding-bottom: 4px;
}

.aui-list-arrow:after {
    content: "";
    display: inline-block;
    height: 7px;
    width: 7px;
    border-width: 2px 2px 0 0;
    border-color: #c3cec6;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    /* margin-top: -4px; */
    right: 12px;
    position: absolute;
    top: 59%;
}

/* 按钮 */
.aui-code-btn {
    position: absolute;
    bottom: 15%;
    width: 100%;
    left: 0;
    padding: 0 15px;
}

.aui-code-btn button {
    background-color: #09bb07;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border: none;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    font-size: 0.98rem;
}