* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#container {
    position: relative;
    width: 600px;
    height: 400px;
    /* border: 1px solid #333; */
    overflow: hidden;
}

#list {
    position: absolute;
    z-index: 1;
    width: 6600px;
    height: 400px;
}

#list img {
    float: left;
    width: 600px;
    height: 400px;
}

#buttons {
    position: absolute;
    left: 27%;
    bottom: 4px;
    z-index: 2;
    height: 10px;
    width: 140px;
}

#buttons span {
    float: left;
    margin-right: 5px;
    width: 7px;
    height: 7px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
}

#buttons .on {
    background: orangered;
}

.